
              body {
               background-image:url("https://d2exd72xrrp1s7.cloudfront.net/www/collection/1002/1H8Iih?width=2400&height=960&crop=true&q=40");
               background-size: cover;
               background-attachment:fixed;              
              }
              img{
                  width:190px;
                  height:100px;
              }
             