body {
    background-image: url("https://d2exd72xrrp1s7.cloudfront.net/www/collection/1002/1H8Iih?width=2400&height=960&crop=true&q=40");
    background-size: cover;
    background-attachment: fixed;
}

.searchBox{
  margin-top:200px;
}

a{
  color: white;
}

img {
    min-width: 180px;
    height: 100px;
    /* margin-top:30px; */
}

.filters{
   padding:30px;
   height:740px;
}

.myCard{
    padding:10px;
    /* width:70%; */
}

.card .card-content {
  padding: 0px;
  margin-left:25px;
  margin-bottom:5px;
}

.card .card-action {
padding: 5px 5px 0px 10px;
}

p{
  font-size: 12px;
}

#logo{
    min-width: 120px;
    height: 65px;
}

input[type=search]:not(.browser-default){
  background-color: white;
  padding:5px;
  color:black;
}

.name{
font-weight: bold;
}

.searchResults {
    height: 650px; 
    overflow: scroll;
    background-color: #eee;
    margin:30px; 
}

.result{
    height:740px;
    padding:10px;
}

/* for customizing scrollbar scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /*map*/
  #mapid { 
    height:300px;
    margin:30px;

  }

/* modal - copied from https://sabe.io/tutorials/how-to-create-modal-popup-box*/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  height: 12rem;
  width: 30rem;
  border-radius: 0.5rem;
}

.modal-subtext {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  display: block;
}

@media screen and (max-width: 640px) {
  .section-content {
      min-width: 300px;
  }
}
